@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  font: inherit;
  box-sizing: border-box;
}

:root {
  --font-family-default: "Poppins", sans-serif;
  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;
  --clr-primary-1: hsl(0, 78%, 62%);
  --clr-primary-2: hsl(180, 62%, 55%);
  --clr-primary-3: hsl(34, 97%, 64%);
  --clr-primary-4: hsl(212, 86%, 64%);
  --clr-neutral-1: hsl(234, 12%, 34%);
  --clr-neutral-2: hsl(229, 6%, 66%);
  --clr-neutral-3: hsl(0, 0%, 98%);
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family-default);
  font-size: 0.938rem;
  font-weight: var(--fw-200);
  color: var(--clr-neutral-2);
  background-color: var(--clr-neutral-3);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  color: var(--clr-neutral-1);
  font-weight: var(--fw-600);
}

h1 {
  font-size: 1.5rem;
  font-weight: var(--fw-200);
}

h1 span {
  font-weight: var(--fw-600);
}

.card-title {
  font-size: 1.25rem;
}

.wrapper {
  padding: 2rem;
  max-width: 70rem;
}

.wrapper-narrow {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.layout-flex {
  display: flex;
  flex-direction: column;
  --gap: 1rem;
  gap: var(--gap);
}

.col {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  border-top: 0.2rem solid var(--bc);
  box-shadow: 0px 0px 15px -10px var(--clr-neutral-1);
}

.card-img {
  margin-top: 2rem;
  margin-left: auto;
}

.clr-1 {
  --bc: var(--clr-primary-2);
}

.clr-2 {
  --bc: var(--clr-primary-1);
}

.clr-3 {
  --bc: var(--clr-primary-3);
}

.clr-4 {
  --bc: var(--clr-primary-4);
}

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 2rem;
  }

  .wrapper-narrow {
    max-width: 35rem;
  }

  .layout-flex {
    flex-direction: row;
    --gap: 1.5rem;
  }

  .layout-flex > * {
    flex: 1;
  }

  .col {
    justify-content: center;
  }
}
